.registerbody { 
  background: url('../Images/Login3.jpg') no-repeat center center;
  background-size: cover;
  background-position: center;
  height: 85vh; /* Default height for larger screens */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.register-glass-card {
  position: relative;
  background: rgba(255, 255, 255, 0.3); /* Lightened glass effect */
  border-radius: 10px;
  padding: 30px;
  width: 400px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  z-index: 1; 
}

/* Apply pseudo-element for background blur */
.register-glass-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(8px); 
  z-index: -1; 
  background: rgba(255, 255, 255, 0.3); 
  border-radius: 10px;
}

.register-glass-card h2 {
  font-weight: bolder;
  color: #FFD700; /* Gold for the header text */
  font-family: 'Exo', sans-serif;
  font-size: 35px;
  font-weight: 200;
  text-align: center;
}

.input-group {
  margin-bottom: 15px;
}

.label {
  display: block;
  color: #fff;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.6); /* Lightened background */
  color: #333;
  outline: none;
}

input:focus {
  border: 2px solid #003366; /* Navy Blue border on focus */
}

.register-btn {
 width: 100%;
  padding: 5px 8px;
 background: #008080; /* Darker Teal for hover effect */
  color: #fff;
  border-radius: 5px;

  font-size: 24px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.register-btn:hover {
  
   background: #0080804d; /* Teal for the button background */
  border: 3px solid #003366; /* Navy Blue border */
  color: #003366;
}

.error-message {
  color: #f44336; /* Red for error messages */
  text-align: center;
  margin-top: 10px;
}

.success-message {
  color: #4caf50; /* Green for success messages */
  margin: 10px 0;
}

/* Media Query for smaller screens */
@media (max-width: 800px) {
  .registerbody {
    height: 80vh; /* Adjust height for mobile */
    background-size: cover;
    background-position: center;
  }
  
  .register-glass-card {
    width: 100%;
    margin: 0 20px;
    padding: 20px;
  }
}
